<html xmlns:th="http://www.thymeleaf.org"> 
<head th:include="layout :: htmlhead" th:with="title='Find By Medium'">
</head>
<body>

<div th:replace="layout :: navbar">(navbar)</div>
<p></p>
<p></p>

<!-- <div class="container"> -->
<!--   <h2>Image</h2> -->
<!--   <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>              -->
<!--   <img src="https://images.collection.cooperhewitt.org/90404_2016fc5a2193bb6c_b.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">  -->
<!-- </div> -->
 
    <div class="col-sm-8">
    <img th:src="${image}" />
<!--     <img class="img-rounded" th:src="@{${image}}" width="750px" height="450px"/> -->
<!--       <h3>Column 1</h3> -->
<!--       <p>Bootstrap layout</p> -->
<!--       <p>to be determined</p> -->
    </div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>

</html>
