<!-- author: Graham Ó Síocháin (R00131247) -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Cultural Heritage Object'"></head>
<head>
<title>Cultural Heritage Object</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css" />
<link type="text/css" rel="stylesheet" href="/css/layout.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- <script type="text/javascript">
$(function() {
$( "#dialog" ).dialog();
$("#view").click(function(){          
       var id=${cho.id};
       var title=${cho.title};
       var date=${cho.date}
       var url="/cho/view/id/"+id+"/title/"+title;       
});
});
</script> -->
<style type="text/css">
	body {
		background-image: url("http://www.personal.psu.edu/nmd5193/Project2%20Subpages/Images/cloud%20background.jpg");
		}
</style>
</head>

<body>

<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
<p>This needs to be left here </p>
<p>This need to be left here</p>


	<p></p>
	<p></p>

  <h2>CH Object
  <a class="btn btn-default glyphicon glyphicon-fire"></a>
  <a class="btn btn-default glyphicon glyphicon-trash"></a>
  </h2>
  
  <form th:object="${cho}" role="form" >
  </form>
  
  <!--  image added here -->
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Image</div>
      <div class="panel-body">
      <div class="col-sm-8">
    <img th:src="${image}" class="img-responsive" />
    </div>
    </div>
    </div>
    </div>
  
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">ID</div>
      <div class="panel-body"><blockquote><p th:text="${id}" ></p></blockquote></div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Title</div>
      <div class="panel-body"><blockquote><p th:text="${chobject.title}" ></p></blockquote></div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">Date</div>
      <div class="panel-body"><blockquote><p th:text="${chobject.date}" ></p></blockquote></div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Medium</div>
      <div class="panel-body"><blockquote><p th:text="${chobject.medium}" ></p></blockquote></div>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading">CreditLine</div>
      <div class="panel-body"><blockquote><p th:text="${chobject.creditline}" ></p></blockquote></div>
    </div>
	 <p></p>
    <div class="panel panel-danger">
      <div class="panel-heading">Description</div>
      <div class="panel-body"><blockquote><p th:text="${chobject.description}" ></p></blockquote></div>
    </div>
    <p></p>
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Gallery Text</div>
      <div class="panel-body"><blockquote><p th:text="${chobject.gallery_text}" ></p></blockquote></div>
    </div>
  </div>
   <form role="form">
<!-- <div class="form-group"> -->
<!-- <label for="comment">Comment:</label> -->
<!-- <textarea class="form-control" rows="5" id="comment"></textarea> -->
<!-- </div> -->
<div class="form-group" >
<input type="text" th:value="${id}" id="choid" th:disabled="true" class="form-control" />
</div>
<div class="form-actions">
<input type="button" value="Add Comment" id="addComment" class="ui-button" />
</div>
</form>
  </div>
  
  <!-- ID IS DiSPLAYING NOTHING ELSE -->
  <!-- <p th:text="${id}" ></p>
  <p th:text="${chobject.title}" ></p>
  <p th:text="${chobject.date}" ></p>
  <p th:text="${chobject.medium}" ></p>
  <p th:text="${chobject.creditline}" ></p>
  <p th:text="${chobject.description}" ></p>
  <p th:text="${chobject.gallery_text}" ></p> -->
 
<!--   <p th:text="${chobject.participant.participant_id}" ></p> -->

  <p></p>            
  
  
 <!--  TABLE WONT BE USED JUST TRYING TO DISPAY DATA -->
  <table class="table table-bordered table-hover">
  <h2>Participated in this object</h2>
  <thead>
      <tr class="active">
      	<th>Person ID</th>
        <th>Person Name</th>
        <th>Role Details</th>
        <th>Person URL</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
    
   <!--  private int participantId; 
	private String person_id; 
	@Column(name="person_name")
	private String personName; 
	private String person_date; 
	private String person_url; -->
	
		<!-- private int role_no; 
	
	private String role_id;
	private String role_name; 
	private String role_display_name; 
	private String role_url; -->
    
   <!--  role.role_no}"></td>
      <td th:text="${role.role_id}"></td>
      <td th:text="${role.role_name}"></td>
      <td th:text="${role.role_display_name}"></td>
      <td th:text="${role.role_url}"></td>
      <td><a th:href="${role.role_url -->
      
      
    <tr class="info" th:each="participation : ${participations}">
      <td th:text="${participation.participationId}"></td>
      <td th:text="${participation.participant.person_name}"></td>
      <td th:text="${participation.role}"></td>
      <td th:text="${participation.participant.person_url}"></td>
      <td><a th:href="${participation.participant.person_url}" class="ui-btn">Link</a></td>
     
      
  	  <!-- <td th:text="${id}"></td>
      <td th:text="${title}"></td>
      <td th:text="${date}"></td>
      <td th:text="${medium}"></td>
      <td th:text="${creditline}"></td>
      <td th:text="${description}"></td> -->
<!--       <tr> -->
<!--       <tr th:each="images : ${images}"> -->
<!--       <td th:text="${images.image_id}"></td> -->
      
</tr>
</tbody>
</table>
<p></p>
<p></p>
<h2>Roles of this object</h2>
 <!--  TABLE WONT BE USED JUST TRYING TO DISPAY DATA -->
  <table class="table table-bordered table-hover">
  <thead>
      <tr class="active">
      	<th>Role ID</th>
        <th>Role Name</th>
        <th>Role Display Name</th>
        <th>Role URL</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
    	
		<!-- private int role_no; 
	
	private String role_id;
	private String role_name; 
	private String role_display_name; 
	private String role_url; -->
    
   <!--  role.role_no}"></td>
      <td th:text="${role.role_id}"></td>
      <td th:text="${role.role_name}"></td>
      <td th:text="${role.role_display_name}"></td>
      <td th:text="${role.role_url}"></td>
      <td><a th:href="${role.role_url -->
      
      
    <tr class="info" th:each="participation : ${participations}">
      <td th:text="${participation.role.role_id}"></td>
      <td th:text="${participation.role.role_name}"></td>
      <td th:text="${participation.role.role_display_name}"></td>
      <td th:text="${participation.role.role_url}"></td>
      <td><a th:href="${participation.role.role_url}" class="ui-btn">Link</a></td>
      
  	  <!-- <td th:text="${id}"></td>
      <td th:text="${title}"></td>
      <td th:text="${date}"></td>
      <td th:text="${medium}"></td>
      <td th:text="${creditline}"></td>
      <td th:text="${description}"></td> -->
<!--       <tr> -->
<!--       <tr th:each="images : ${images}"> -->
<!--       <td th:text="${images.image_id}"></td> -->
      
</tr>
</tbody>
</table>

</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>    